<div class="navbar text-c fw-m">
    <div class="container">
        <div class="pages">
            <ul>
                <li><a href="#">OPTICAL</a></li>
                <li><a href="#">SUNGLASSES</a></li>
                <li><a href="#">FUNCTIONAL</a></li>
            </ul>
        </div>
    </div>
</div>