/* 這邊寫全域和基本共用樣式 */

* , *:befor , *:after  {
	box-sizing: border-box;
}

body{
    font-family: $font-family;
    line-height: $line-height;
}

a{
    text-decoration: none;
    color: $white;
}

img{
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

.full{
    width: 100%;
}

//font-size
h1, .h1, .fs-64{
    font-size: 64px;
}

h2, .h2, .fs-48{
    font-size: 48px;
}

h3, .h3, .fs-36{
    font-size: 36px;
}

h4, .h4, .fs-24{
    font-size: 24px;
}

h5, .h5, .fs-20{
    font-size: 20px;
}

p, li, .fs-16{
    font-size: 16px;
}


@include mobile(){

    .fs-64{
        font-size: 48px;
    }
    
    .fs-48{
        font-size: 24px;
    }
    
    .fs-36{
        font-size: 16px;
    }
}


/* font-style */
.italic{
    font-style: italic;
}


/* text-align */
.text-c{
    text-align: center;
}

.text-l{
    text-align: left;
}


/*space*/
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.space {
    &-l{
        padding: 80px 0;
    }

    &-m{
        padding: 48px 0;
    }
}

.pb-m{
    padding-bottom: 32px;

    &-s{
        padding-bottom: 16px;
    }

    &-xs{
        padding-bottom: 8px;
    }
}


//btn
button {
    border: none;
    background-color: none;
    padding: 8px;
    border-radius: 4px;
}

.button-orange {
    color: $orange-900;
}




//color
.primary-color{
    color: $primary-color;
}

.secondary-color{
    color: $secondary-color;
}

.dark{
    color: $dark;
}

.light{
    color: $white;
}

/* font-weight */
.fw-l{
    font-weight: $font-weightl;

    &-m{
        font-weight: $font-weightm;
    }

    &-s{
        font-weight: $font-weightr;
    }
}