/*這編寫變數設定*/

//數值 8px
$num: 8px;


/*font*/
$font-family: 'Noto Sans TC', sans-serif;
$line-height: 1.5;

/*color*/
$primary-color: #650300;
$secondary-color: #AA0601;
$dark: #000;
$white: #fff;
$light: #DE706D;
$gray: #707070;
$gray-300: #DCDCDC;

$pink: #FBF2F2;
$orange-900: #5F3E2D;
$orange-600: #B75929;

//font-weight
$font-weightl: 900;
$font-weightm: 600;
$font-weightr: 400;



/*space*/
$padding-spaces: 0 16px;