<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>optical</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/navbar'); -%>
    
    <!-- 這邊開始寫內容 -->
    <div class="optical">
      <img src="/assets/images/product-header-1.png" alt="product banner">
      <img src="/assets/images/product-header-2.png" alt="product banner">
    </div>
    <div class="product space-l">
      <div class="container">
        <div class="tittle text-c">
          <h2>Celluloid Combi</h2>
          <h3>賽璐珞鈦金屬混合鏡框</h3>
        </div>
        <ul>
          <li>
            <img src="/assets/images/product-1.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <div class="productbtn">
              <button class="button button-orange"></button>
              <button class="button button2"></button>
            </div>
          </li>
          <li>
            <img src="/assets/images/product-2.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-3.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-4.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-1.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-2.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-3.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
          <li>
            <img src="/assets/images/product-4.png" alt="">
            <div class="infor">
              <h4>BJ41600S</h4>
              <h4 class="price">NTD3,490</h4>
            </div>
            <button class="button1"></button>
            <button class="button2"></button>
          </li>
        </ul>
      </div>
    </div>

    <div class="page">

        <ul>
            <li><a href="#" class="nextpage">上一頁</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">下一頁</a></li>
        </ul>

    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>